%center_content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.GameComponent{
    // border:1px solid red;
    height:100%;
    position: relative;
    // display: flex;
    // flex-direction: column;
}

.GameComponent_PlaySection{
    // border:1px solid black;
    height:50px;
    @extend %center_content;
}

.GameComponent_ScoreSection{
    // border:1px solid black;
    @extend %center_content;
    height:70px;
}

.GameComponent_PlayArea{
    position: relative;
    // border:1px solid blue;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
}